.profil_body {
    display: flex;
    width: 100%;
       
}

.main_profil {
    background-color: #000;
    width: 99%;
    height: 100vh;
    overflow-y: scroll;
}
.btn_nav_account {
    text-align: center;
    font-size: 15px;
    color: #fff;
    background-color: #8b8b8b4e;
    border-radius:5px ;
    padding: 2px;
    width: 150px;
}
.btn_nav_account:hover {
    transition: 0.1s;
    background-color: #7e7e7e4e;
}

.edit_account {
    width:100%;
}

.profil_nth_first {
    display: flex;
    justify-content: center;
    width: 100%;
    height:200px;
    gap:30px;
    font-weight: 500;
    background-color: #000;
    color: #fff;
}

.title {
    color:#fff;
}

.update_button {
    padding: 5px;
    border-radius: 5px;
}
.box_btn {
    display: flex;
    align-items: baseline;
    gap:20px;
}
.round_circle {
    background-color: red;
    border-radius: 80px;
    width: 120px;
    height: 120px;
}
.box_statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 5px;
}
.stats {
    display: flex;
    justify-content: center;
    gap:20px;
}
.profil_param {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
.button_profil, .contact_btn {
    background-color: #fff;
    color: #000;
}
.button_profil,.following_btn ,.follower_btn, .contact_btn {

    font-weight: 600;
    padding: 5px;
    width: 80px;
    border-radius: 7px;
}
.following_btn  {
    background-color: #FFF;
    color:#000;
}


.follower_btn  {
    background-color: #0095F6;
    color:#fff;
}

.box_user_name {
    display: flex;
    align-items: center;
    gap:10px;
}

.user_name {
    font-size: 20px;
}

.Profil_post {
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}


.row_post_user {
    display: flex;
    gap:10px;
    margin-bottom:10px ;
  
}
.column_post_user {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    padding: 1rem 0;
    width: 100%;
}

.main_post_user {
    padding: 10px;
    width: 100%;
    overflow: scroll;
}
.navbar_post {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 5px;
    padding-bottom:5px ;
    color: #000;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }
    .row_post_user{
        flex-direction: column;
    }
}
