.edit_account {
    padding: 20px;
    color:#fff;
    width: 100%;
}
.form_edit_profil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

.input {
    color:#fff;
    border:1px solid #ffffff68;
    background-color: #000;
}

.btn_submit {
    background-color: #0094F5;
    color: #fff;
    padding: 4px;
    border-radius:4px;
    font-weight: bold;
}

.btn_checkbox {
    background-color: #fff;
    cursor: pointer;
}
.checkbox {

}