.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-family: 'Inter', sans-serif;
  min-height: 80vh;

}

.rightContainer {
  border: 1px solid #7E54D8;
  box-sizing: border-box;
  padding: 5px;
}

.rightContainer,
.leftContainer {
  width: 30%;
  min-height: 50vh;
}

.titleFirst,
.titleSecond {
  color: #fff;
  text-overflow: ellipsis;
}

.titleSecond {
  width: 320px;
  height: 96px;

}

.leftContainer {
  display: flex;
  justify-content: right;
  flex-direction: column;
  gap: 100px;
  padding: 20px;
  background-color: #7E54D8;
}

.rightContainer {
  background-color: #fff;
}



@media screen and (max-width:900px) {
  .leftContainer {
    width: 60%;
  }

  .rightContainer {
    transition: 0.3s;
    display: none;
  }
}

@media screen and (max-width:600px) {
  .App {
    display: none;
  }
}