
.form_edit_profil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

.input {
    color:#fff;
    border:1px solid #ffffff68;
    background-color: #000;
}

.btn_submit {
    background-color: #0094F5;
    color: #fff;
    padding: 4px;
    border-radius:4px;
    font-weight: bold;
}




.menu_editProfil {
    width:20%;
    min-height: 90vh;
    border-right: 1px solid #ffffff31;
    
}
.menu_editProfil > a > h3 {
    padding: 10px;
    box-sizing: border-box;
}
.menu_editProfil > a > h3:hover {
    /*border-left: 2px solid #ffffffb4;*/
    background-color: #ffffff14;
    border-left: 2px solid #ffffff31;

}
