.modal {
    position: absolute;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.565);
    width: 100%;
    height: 100%;
}

.form-head {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    max-width: 430px;
    margin: auto;
    animation: 0.5s modalAnimation;
    border-radius: 3px;
}

form {
    width: 100%;
}
.input-field {
    margin-top:10px;
    width: 100%;
}


.field > input, .button-field > button {
    border-radius:3px ;
}
.field > input {
    border: 1px solid #5f27cd;
    padding: 0 15px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;

}

@keyframes modalAnimation {

    from {
        margin-top: -500px;
    }

    to {
        margin-top: 0;
    }


}

header {
    text-align: center;
    font-size: 28px;
    font-weight:600;
}
.title,
.onclose {
    color: #5f27cd;
}

.onclose {
    background: none;
    border: none;
    font-size: 20px;
    float: right;
    width: 100%;
}

.errorSubscribe {
    color: red;
    font-style: italic;
}

.button-field > button {
    background-color: #5f27cd;
    color: #fff;
    border: none;
    padding: 9px;
    margin-top: 10px;
    width: 100%;
    transition: all 0.3 ease;
    cursor: pointer;
}
.button-field > button:hover{
    background-color: #6241a9;
}
.formSign {
    display: flex;
    flex-direction: column;
    gap: 20px;
}