.ModalCreatePost {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    border-radius: 2px;
    width:50%;
    height: 80vh;
    margin: auto;
    animation:1s animationModalCreatePost;
}


@keyframes animationModalCreatePost {
    from {
       margin-top: -300px;
    } to {
        margin-top: 0px;
    }
}

.switchStepBox {
    width: 100%;
    min-height: 5vh;

}

.titleStep {
    margin-bottom: 10px;
    
    color:#1877F2;
    text-align: center;
    width: 100%;
}

@media only screen and (min-width: 720px) {
    .titleStep {
        font-size: 20px;
    }
}

@media only screen and (min-width: 960px) {
    .titleStep {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1240px) {
    .titleStep {
        font-size: 30px;
    }
}
.buttonSwitchStepSuiv,.buttonSwitchStepPrev {
    margin-top: 10px;
    background-color: #fff;
    border: none;
    color:#000;
    border-radius: 6px;
    padding:7px;
    width: 90px;
    font-weight: bold;
   
}
.buttonSwitchStepSuiv {
    float: right;
}
.buttonSwitchStepPrev {
    float: left;
}

.instagramCard {
    display: flex;
    justify-content: center;
    gap:20px;

}
.buttonSwitchStepSuiv:hover,.buttonSwitchStepPrev:hover  {
    transition:0.3s;
    background-color: #ffffffd4;
}
.parent_card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-bottom:10px ;
 }

.active {
    display:block;
}
.activeStepThree {
    display: flex;
}

.desactive {
    display: none;
}
